
.home {
  height: 142.6rem;
  width: 119rem;
}

@media screen and (max-width: 1680px) {
   .home {
     height: 124.78rem;
     width: 105rem;
   }
 }

 @media screen and (max-width: 1440px) {
   .home {
     height: 106.95rem;
     width: 90rem;
   }
 }

 @media screen and (max-width: 1280px) {
   .home {
     height: 95.07rem;
     width: 80rem;
   }
 }

 @media screen and (max-width: 1024px) {
   .home {
     height: 76.05rem;
     width: 64rem;
   }
 }

 @media screen and (max-width: 854px) {
   .home {
     height: 63.43rem;
     width: 53.375rem;
   }
 }




.intro {
   height: 16.5%;
   width: 100%;
   padding-top: 2%;
   display: flex;
   background-color: var(--Neutro_900);
   color: var(--Neutro_0);
   flex-direction: column;
   background-image: url("../assets/Fundo.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 60% 80%;
   box-shadow: 0px 8px 6px 0px rgba(0,0,0,0.75);
}

.intro section {
   margin-left: 5%;
   width: 60%;
}

.intro > h1, h2 {
   margin-top: 3%;
}

.mid {
   height: 83.4%;
   width: 100%;
   position: relative;
   z-index: 0;
   display: flex;
   flex-wrap: nowrap;
   flex-direction: column;
   align-items: center;
}

.mid::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-image: url("../assets/Vector.svg");
   background-position: center;
   opacity: 0.2; 
   z-index: -1; 
}

.movies {
   height: 36%;
   width: 90%;
   margin-top: 5%;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
}


.mid > h1{
   margin-top: 3%;
   margin-left: -70%;
   font-family: "Nunito Sans", system-ui;
   color: var(--Neutro_0);
   letter-spacing: 0.2rem;
   font-weight: 700;
}

.mid > a{
   margin-top: -5%;
   margin-left: 70%;
   font-family: "Nunito Sans", system-ui;
   color: var(--Neutro_0);
   letter-spacing: 0.2rem;
   font-weight: 700;
}
