.login {
   height: 70.833rem;
   width: 119rem;
}

.mid {
   height: 100%;
   width: 100%;
   position: relative;
   z-index: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   flex-wrap: nowrap;
}

.mid::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-image: url("../assets/Vector.svg");
   background-position: center; 
   z-index: -1; 
}

.intro {
   width: 54.23%;
   height: 59.54%;
   margin-right: 5%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.intro img {
   width: 100%;
   height: 55.71%;
}

.intro h2 {
   width: 74.22%;
   font-size: 1.75rem;
   margin-left: 32%;
   font-weight: 550;
}

.form {
   width: 33.88%;
   height: 70.58%;
   border-radius: 1rem;
   background-color: #004A9B;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: center;
}

.form h1{
   margin-bottom: 7%;
   font-size: 4rem;
}

.form h2{
   font-size: 1.75rem;
   font-weight: 550;
   margin-top: 2%;
   width: 90%;
   margin-left: 7%;
}

form {
   display: flex;
   flex-direction: column;
}

.user {
   border: none;
   width: 32.5rem;
   min-height: 3rem;
   background-color: var(--Principal_100);
   border-radius: .8rem;
   padding-left: 5%;
   margin-top: 1.5rem;
   box-shadow: 0px 5px 3px 0px var( --Principal_900);
   font-size: 1.25rem;
}

.forgotPassword {
   margin-top: 1.5%;
   margin-right: 50%;
   font-size: 1rem;
   color: white;
   text-decoration: underline;
}

.enter {
   cursor: pointer;
   min-width: 79%;
   min-height: 3rem;
   margin-top: 5%;
   border-radius: 1rem;
   background-color: #6D98FB;
   box-shadow: 0px 5px 3px 0px var( --Principal_900);
   font-size: 1.5rem;
   color: white;
   border: none;
}

.enter h2{
   width: 100%;
   text-decoration: none;
   text-align: center;
}

.form hr {
   width: 80%;
   height: 1%;
   margin-top: 5%;
   background-color: var(--Neutro_0);
}

.register {
   width: 45%;
   height: 7.33%;
   margin-top: 5%;
   padding-top: 1%;
   border-radius: 1rem;
   background-color: var(--Confirm_source);
   box-shadow: 0px 5px 3px 0px var( --Principal_900);
   display: flex;
}

.register h2{
   width: 100%;
   text-align: center;
}