.movies {
   height: 349.417rem;
   width: 119rem;
}

.search {
   height: 6.7%;
   width: 100%;
   background-color: var(--Principal_800);
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: center;
   box-shadow: 0px 8px 6px 0px rgba(0, 0, 0, 0.75);
}

.searchbar {
   width: 73%;
   height: 21%;
   display: flex;
   align-items: center;
}


.searchbar input {
   background-color: var(--Neutro_0);
   width: 94.38817%;
   height: 77.58%;
   border-radius: 5rem;
   padding-left: 1.5rem; 
}

::placeholder {
   color: var(--Neutro_500);
   font-family: "Roboto", sans-serif;
   font-size: 1.5rem;
   font-weight: 500;
   letter-spacing: 0.05rem;
   opacity: 1;
}

.searchbar div {
   width: 5.61183%;
   margin-left: -5%;
   height: 100%;
   background-color: var(--Sombra);
   border-radius: 50%;
   background-image: url("../assets/lupa.svg");
   background-repeat: no-repeat;
   background-size: 75%;
   background-position: center;
   cursor: pointer;
}

.dropdowns {
   margin-top: 2%;
   width: 100%;
   height: 20.8%;
   display: flex;
   align-items: center;
   flex-direction: row;
   flex-wrap: nowrap;
}


.mid {
   height: 93.3%;
   width: 100%;
   position: relative;
   z-index: 0;
   display: flex;
   flex-wrap: nowrap;
   flex-direction: column;
   align-items: center;
}

.mid::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-image: url("../assets/Vector.svg");
   background-position: center;
   opacity: 0.2; 
   z-index: -1; 
}

.mid > h1 {
   margin-top: 6%;
   margin-left: -70%;
}

.list {
   height: 86.65%;
   width: 73.19%;
   margin-top: 5%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
}

.pages {
   height: 1.621%;
   width: 35.83%;
   margin-top: 8%;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: space-between;
}

.arrowL {
   background-color: var(--Sombra2_source);
   height: 100%;
   width: 13.2%;
   border-radius: 50%;
}

.arrowL div{
   background-color: var(--Sombra2_source);
   background-image: url("../assets/pagearrow.svg");
   background-repeat: no-repeat;
   background-position: 0% 50%;
   background-size: 50%;
   height: 100%;
   width: 60%;
   border-radius: 1rem;
   margin-left: 40%;
}
.arrowR {
   background-color: var(--Sombra2_source);
   height: 100%;
   width: 13.2%;
   border-radius: 50%;
}

.arrowR div{
   background-color: var(--Sombra2_source);
   background-image: url("../assets/direita.svg");
   background-repeat: no-repeat;
   background-position: 90% 50%;
   background-size: 50%;
   height: 100%;
   width: 60%;
   border-radius: 1rem;
   margin-right: 40%;
}