.signup {
   height: 125.25rem;
   width: 119rem;
}


@media screen and (max-width: 1680px) {
   .signup {
     width: 105rem; 
     height: 110.57rem; /* (125.25 / 119) * 105 = 110.57rem */
   }
}

@media screen and (max-width: 1440px) {
   .signup {
     width: 90rem; 
     height: 94.722rem; /* (125.25 / 119) * 90 = 94.722rem */
   }
}

@media screen and (max-width: 1280px) {
   .signup {
     width: 80rem; 
     height: 84.148rem; /* (125.25 / 119) * 80 = 84.148rem */
   }
}

@media screen and (max-width: 1024px) {
   .signup {
     width: 64rem; 
     height: 67.319rem; /* (125.25 / 119) * 64 = 67.319rem */
   }
}

@media screen and (max-width: 854px) {
   .signup {
     width: 53.375rem; 
     height: 56.137rem; /* (125.25 / 119) * 53.375 = 56.137rem */
   }
}

.mid {
   height: 100%;
   width: 100%;
   position: relative;
   z-index: 0;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;

}

.mid1 {
   height: 100%;
   width: 100%;
   position: relative;
   z-index: 0;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;

}

.mid1::after {
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   content: '';
   background-color:  black;
   opacity: 0.5;
   position: absolute;
   z-index: 1;
}

.mid::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-image: url("../assets/Vector.svg");
   background-position: center;
   opacity: 0.2; 
   z-index: -1; 
}

.signuptext {
   margin-top: 10%;
   height: 26.54%;
   width: 67.91%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column
}

.signuptext  h1{
   width: 100%;
   font-weight: 700;
   margin-bottom: 5%;
   letter-spacing: 0.01rem;
}

.signuptext  h2{
   width: 100%;
   font-weight: 550;
   letter-spacing: 0.01rem;
}

.signupform {
   margin-top: 5%;
   height: 53.22%;
   width: 66.18%;
   border-radius: 1.5rem;
   background-color: #004A9B;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column
}

.signupform h1 {
   margin-bottom: 2%;
}

.user {
   width: 54.56%;
   height: 5.5%;
   margin-top: 2%;
   background-color: var(--Principal_100);
   border-radius: 1rem;
   padding-left: 5%;
   box-shadow: 0px 5px 3px 0px var( --Principal_900);
}

.enter {
   width: 17.7%;
   height: 5.5%;
   margin-top: 5%;
   padding-top: 1%;
   border-radius: 1rem;
   background-color: #6D98FB;
   box-shadow: 0px 5px 3px 0px var( --Principal_900);
   display: flex;
   cursor: pointer;
}

.enter h2{
   width: 100%;
   text-decoration: none;
   text-align: center;
}