.carrousel {
   height: 38.5%;
   margin-top: 5%;
   margin-left: 5%;
   width: 300%;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: flex-start;
}

.combo {
   height: 100%;
   width: 30%;
   margin-left: 0.2%;
   background-image: url("../assets/Ticket.svg");
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}

.desc {
   background-color: var( --CallToAction_300);
   height: 84%;
   width: 84%;
   border-radius: 0.25rem;
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: center;
}

.desc img {
   height: 68.496%;
   width: 27.522%;
   border-radius: 0.75rem;
}

.desc section{
   width: 52.2%;
   height: 68.496%;
   margin-left: 5%;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: flex-start;
}

.desc section h1{
   font-family: "Nunito Sans", system-ui;
   font-weight: 650;
   font-size: 3rem;
}

.desc section p{
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   font-size: 1.5rem;
   letter-spacing: 0.15rem;
   margin-top: 3%;
}

.arrow1 {
   height: 18.94%;
   background-color: var(--Cancel_source);
   width: 7.61%;
   margin-left: -15%;
   margin-right: 20%;
   border-radius: 50%;
   background-repeat: no-repeat;
   background-size: cover;
   background-image: url("../assets/Left.svg");
   cursor: pointer;
}

.arrow2 {
   height: 18.94%;
   background-color: var(--Cancel_source);
   width: 7.61%;
   margin-left: -15%;
   margin-right: 20%;
   border-radius: 50%;
   background-repeat: no-repeat;
   background-size: cover;
   background-image: url("../assets/Right.svg");
   cursor: pointer;
}