.confirmation {
   position: absolute;
   height: 23.46%;
   width: 55%;
   background-color: #009A95;
   border-radius: 2rem;
   top: 50%;
   left: 25%;
   z-index: 2;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.confirmation > h1{
   padding-left: 10%;
   width: 100%;
   font-size: 4rem;
}

.confirmation > h2{
   width: 100%;
   padding-left: 10%;
   font-size: 2rem;
   font-weight: 550;
}

.confirmation > p{
   margin-top: 2%;
   width: 80%;
   font-family: "Roboto", sans-serif;
   font-size: 1.5rem;
   color: var(--Neutro_0);
   letter-spacing: 0.05rem;
   font-weight: 550;
}

.goback {
   position: absolute;
   height: 11.14%;
   width: 5%;
   top: 10%;
   left: 90%;
   background-color: #004442;
   border-radius: 50%;
}