header {
   position: relative;
   width: 119rem;
   height: 14.167rem;
   display: inline-flex;
   justify-content: space-between;
   background-color: var(--principal);
   align-items: center;
   flex-direction: row;
   flex-wrap: nowrap;
}

header img {
   margin-left: 1%;
   height: 44%;

}

header section {
   height: 80%;
   width: 15%;
   display: flex;
   flex-direction: row;
   align-items: center;
   flex-wrap: nowrap;
   justify-content: space-evenly;
}

header section img {
   height: 30%;
}

