.row {
   width: 100%;
   height: 10%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.row h2{
   width: 15%;
   font-size: 2rem;
   text-align: center;
}


.seat {
   height: 100%;
   width: 3.07%;
   background-image: url("../assets/cadeira3.svg");
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: center;
   cursor: pointer;
}

.seat:hover {
   height: 100%;
   width: 3.07%;
   background-image: url("../assets/cadeira2.svg");
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: center;
   cursor: pointer;
}

.seat2 {
   height: 100%;
   width: 3.07%;
   background-image: url("../assets/cadeira1.svg");
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: center;
   cursor: pointer;
}

.seat3 {
   height: 100%;
   width: 3.07%;
   background-image: url("../assets/cadeira2.svg");
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: center;
   cursor: pointer;
}